.header img {
  float: left;
  width: 35px;
  padding-right: 5px;
  margin: 5px; }

.spinner {
  margin-left: 45%;
  margin-top: 30px; }

.channel-details h4 {
  margin-top: 40px;
  margin-bottom: 30px;
  text-align: center; }

.event-details h4 {
  margin-top: 40px;
  margin-bottom: 30px;
  text-align: center; }

#channel-events {
  border-left: 1px solid lightgrey; }

.back-link {
  margin-left: 0px;
  margin-top: 15px; }
